:root {
  --main: #7c5dfa;
  --secondary: #9277ff;
  --black: #1e2139;
  --black2: #0c0e16;
  --black3: #141625;
  --black4: #252945;
  --grey: #dfe3fa;
  --grey2: #888eb0;
  --grey3: #7e88c3;
  --rose: #ec5757;
  --pink: #ff9797;
  --light-bg: #f8f8fb;
}
