* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background 300ms ease-in;
  overflow: hidden;
}

html {
  background-color: var(--light-bg);

  &[data-theme='dark'] {
    background-color: var(--black4);
  }
}
